In [1]:
import numpy as np
import pandas as pd

In [46]:
with open ('notes.txt', 'r') as notes_file:
    print(notes_file.read())

Notes for Football Data

All data is in csv format, ready for use within standard spreadsheet applications. Please note that some abbreviations are no longer in use (in particular odds from specific bookmakers no longer used) and refer to data collected in earlier seasons. For a current list of what bookmakers are included in the dataset please visit http://www.football-data.co.uk/matches.php

Key to results data:

Div = League Division
Date = Match Date (dd/mm/yy)
Time = Time of match kick off
HomeTeam = Home Team
AwayTeam = Away Team
FTHG and HG = Full Time Home Team Goals
FTAG and AG = Full Time Away Team Goals
FTR and Res = Full Time Result (H=Home Win, D=Draw, A=Away Win)
HTHG = Half Time Home Team Goals
HTAG = Half Time Away Team Goals
HTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)

Match Statistics (where available)
Attendance = Crowd Attendance
Referee = Match Referee
HS = Home Team Shots
AS = Away Team Shots
HST = Home Team Shots on Target
AST = Away Team Shots on Target
HHW = Home Team Hit Woodwork
AHW = Away Team Hit Woodwork
HC = Home Team Corners
AC = Away Team Corners
HF = Home Team Fouls Committed
AF = Away Team Fouls Committed
HFKC = Home Team Free Kicks Conceded
AFKC = Away Team Free Kicks Conceded
HO = Home Team Offsides
AO = Away Team Offsides
HY = Home Team Yellow Cards
AY = Away Team Yellow Cards
HR = Home Team Red Cards
AR = Away Team Red Cards
HBP = Home Team Bookings Points (10 = yellow, 25 = red)
ABP = Away Team Bookings Points (10 = yellow, 25 = red)

Note that Free Kicks Conceeded includes fouls, offsides and any other offense commmitted and will always be equal to or higher than the number of fouls. Fouls make up the vast majority of Free Kicks Conceded. Free Kicks Conceded are shown when specific data on Fouls are not available (France 2nd, Belgium 1st and Greece 1st divisions).

Note also that English and Scottish yellow cards do not include the initial yellow card when a second is shown to a player converting it into a red, but this is included as a yellow (plus red) for European games.


Key to 1X2 (match) betting odds data:

B365H = Bet365 home win odds
B365D = Bet365 draw odds
B365A = Bet365 away win odds
BSH = Blue Square home win odds
BSD = Blue Square draw odds
BSA = Blue Square away win odds
BWH = Bet&Win home win odds
BWD = Bet&Win draw odds
BWA = Bet&Win away win odds
GBH = Gamebookers home win odds
GBD = Gamebookers draw odds
GBA = Gamebookers away win odds
IWH = Interwetten home win odds
IWD = Interwetten draw odds
IWA = Interwetten away win odds
LBH = Ladbrokes home win odds
LBD = Ladbrokes draw odds
LBA = Ladbrokes away win odds
PSH and PH = Pinnacle home win odds
PSD and PD = Pinnacle draw odds
PSA and PA = Pinnacle away win odds
SOH = Sporting Odds home win odds
SOD = Sporting Odds draw odds
SOA = Sporting Odds away win odds
SBH = Sportingbet home win odds
SBD = Sportingbet draw odds
SBA = Sportingbet away win odds
SJH = Stan James home win odds
SJD = Stan James draw odds
SJA = Stan James away win odds
SYH = Stanleybet home win odds
SYD = Stanleybet draw odds
SYA = Stanleybet away win odds
VCH = VC Bet home win odds
VCD = VC Bet draw odds
VCA = VC Bet away win odds
WHH = William Hill home win odds
WHD = William Hill draw odds
WHA = William Hill away win odds

Bb1X2 = Number of BetBrain bookmakers used to calculate match odds averages and maximums
BbMxH = Betbrain maximum home win odds
BbAvH = Betbrain average home win odds
BbMxD = Betbrain maximum draw odds
BbAvD = Betbrain average draw win odds
BbMxA = Betbrain maximum away win odds
BbAvA = Betbrain average away win odds

MaxH = Market maximum home win odds
MaxD = Market maximum draw win odds
MaxA = Market maximum away win odds
AvgH = Market average home win odds
AvgD = Market average draw win odds
AvgA = Market average away win odds



Key to total goals betting odds:

BbOU = Number of BetBrain bookmakers used to calculate over/under 2.5 goals (total goals) averages and maximums
BbMx>2.5 = Betbrain maximum over 2.5 goals
BbAv>2.5 = Betbrain average over 2.5 goals
BbMx<2.5 = Betbrain maximum under 2.5 goals
BbAv<2.5 = Betbrain average under 2.5 goals

GB>2.5 = Gamebookers over 2.5 goals
GB<2.5 = Gamebookers under 2.5 goals
B365>2.5 = Bet365 over 2.5 goals
B365<2.5 = Bet365 under 2.5 goals
P>2.5 = Pinnacle over 2.5 goals
P<2.5 = Pinnacle under 2.5 goals
Max>2.5 = Market maximum over 2.5 goals
Max<2.5 = Market maximum under 2.5 goals
Avg>2.5 = Market average over 2.5 goals
Avg<2.5 = Market average under 2.5 goals



Key to Asian handicap betting odds:

BbAH = Number of BetBrain bookmakers used to Asian handicap averages and maximums
BbAHh = Betbrain size of handicap (home team)
AHh = Market size of handicap (home team) (since 2019/2020)
BbMxAHH = Betbrain maximum Asian handicap home team odds
BbAvAHH = Betbrain average Asian handicap home team odds
BbMxAHA = Betbrain maximum Asian handicap away team odds
BbAvAHA = Betbrain average Asian handicap away team odds

GBAHH = Gamebookers Asian handicap home team odds
GBAHA = Gamebookers Asian handicap away team odds
GBAH = Gamebookers size of handicap (home team)
LBAHH = Ladbrokes Asian handicap home team odds
LBAHA = Ladbrokes Asian handicap away team odds
LBAH = Ladbrokes size of handicap (home team)
B365AHH = Bet365 Asian handicap home team odds
B365AHA = Bet365 Asian handicap away team odds
B365AH = Bet365 size of handicap (home team)
PAHH = Pinnacle Asian handicap home team odds
PAHA = Pinnacle Asian handicap away team odds
MaxAHH = Market maximum Asian handicap home team odds
MaxAHA = Market maximum Asian handicap away team odds
AvgAHH = Market average Asian handicap home team odds
AvgAHA = Market average Asian handicap away team odds



Closing odds (last odds before match starts)

As above but with an additional "C" character following the bookmaker abbreviation/Max/Avg

Football-Data would like to acknowledge the following sources which have been utilised in the compilation of Football-Data's results and odds files.


Current results (full time, half time)
XScores - http://www.xscores .com

Match statistics
BBC, ESPN Soccer, Bundesliga.de, Gazzetta.it and Football.fr

Bookmakers betting odds
Individual bookmakers

Betting odds for weekend games are collected Friday afternoons, and on Tuesday afternoons for midweek games.

Additional match statistics (corners, shots, bookings, referee etc.) for the 2000/01 and 2001/02 seasons for the English, Scottish and German leagues were provided by Sports.com (now under new ownership and no longer available).

In [2]:
df = pd.concat([pd.read_csv(f'E0 ({i}).csv', parse_dates=['Date'], date_format='mixed', dayfirst=True) for i in range(1, 7)]).reset_index(drop=True)
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,2023-08-11,20:00,Burnley,Man City,0,3,A,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2023-08-12,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,2023-08-12,15:00,Bournemouth,West Ham,1,1,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,2023-08-12,15:00,Brighton,Luton,4,1,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,2023-08-12,15:00,Everton,Fulham,0,1,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2231,E0,2019-05-12,NaN,Liverpool,Wolves,2,0,H,1,0,...,1.65,1.61,2.43,2.31,22.0,-1.5,1.98,1.91,2.01,1.95
2232,E0,2019-05-12,NaN,Man United,Cardiff,0,2,A,0,1,...,1.45,1.39,3.25,2.95,21.0,-2.0,2.52,2.32,1.72,1.64
2233,E0,2019-05-12,NaN,Southampton,Huddersfield,1,1,D,1,0,...,1.67,1.62,2.40,2.29,22.0,-1.5,2.27,2.16,1.80,1.73
2234,E0,2019-05-12,NaN,Tottenham,Everton,2,2,D,1,0,...,1.81,1.76,2.18,2.07,19.0,-0.5,2.13,2.08,1.85,1.80
2235,E0,2019-05-12,NaN,Watford,West Ham,1,4,A,0,2,...,1.60,1.55,2.56,2.44,19.0,-0.5,2.25,2.19,1.78,1.72

In [3]:
df.columns.values

array(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG',
       'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST',
       'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D',
       'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD',
       'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'MaxH', 'MaxD',
       'MaxA', 'AvgH', 'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5',
       'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh',
       'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH',
       'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA',
       'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA', 'WHCH', 'WHCD',
       'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH',
       'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5',
       'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH',
       'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH',
       'AvgCAHA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA',
       'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5',
       'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA'],
      dtype=object)

In [4]:
cols = ['Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG',
       'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST',
       'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D',
       'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD',
       'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA']# 'LBH',
 #      'LBD', 'LBA', 'SJH', 'SJD', 'SJA']
df = df.loc[:, cols]
df

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,2023-08-11,20:00,Burnley,Man City,0,3,A,0,2,A,...,1.35,8.58,5.51,1.37,8.00,5.00,1.25,9.50,5.25,1.33
1,2023-08-12,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,H,...,14.00,1.18,7.86,15.67,1.12,6.50,12.00,1.14,7.50,17.00
2,2023-08-12,15:00,Bournemouth,West Ham,1,1,D,0,0,D,...,2.60,2.70,3.47,2.71,2.62,3.20,2.30,2.63,3.30,2.63
3,2023-08-12,15:00,Brighton,Luton,4,1,H,1,0,H,...,8.50,1.33,5.65,9.61,1.25,4.60,8.50,1.29,5.25,10.00
4,2023-08-12,15:00,Everton,Fulham,0,1,A,0,0,D,...,3.25,2.27,3.45,3.35,2.10,3.20,3.00,2.20,3.30,3.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2231,2019-05-12,NaN,Liverpool,Wolves,2,0,H,1,0,H,...,9.30,1.31,5.77,10.54,1.29,5.50,11.00,1.30,5.75,11.50
2232,2019-05-12,NaN,Man United,Cardiff,0,2,A,0,1,A,...,9.20,1.28,6.33,10.21,1.25,6.50,10.00,1.29,6.25,11.00
2233,2019-05-12,NaN,Southampton,Huddersfield,1,1,D,1,0,H,...,7.10,1.44,4.83,7.62,1.40,4.75,8.00,1.40,4.80,8.50
2234,2019-05-12,NaN,Tottenham,Everton,2,2,D,1,0,H,...,3.60,2.10,3.64,3.64,2.10,3.50,3.50,2.10,3.50,3.70
2235,2019-05-12,NaN,Watford,West Ham,1,4,A,0,2,A,...,3.05,2.20,3.85,3.21,2.20,3.70,3.10,2.20,3.75,3.25

In [5]:
df.isna().sum()

Date          0
Time        380
HomeTeam      0
AwayTeam      0
FTHG          0
FTAG          0
FTR           0
HTHG          0
HTAG          0
HTR           0
Referee       0
HS            0
AS            0
HST           0
AST           0
HF            0
AF            0
HC            0
AC            0
HY            0
AY            0
HR            0
AR            0
B365H         0
B365D         0
B365A         0
BWH           2
BWD           2
BWA           2
IWH         138
IWD         138
IWA         138
PSH           0
PSD           0
PSA           0
WHH           0
WHD           0
WHA           0
VCH           0
VCD           0
VCA           0
dtype: int64

In [6]:
# Пропуски в Time: заполним медианным временем
# Остальные пропуски в коэффициентах букмекеров - их и не будет в финальном датафрейме и и они не учтутся в .mean

In [7]:
df['Time'].value_counts()

Time
15:00    532
20:00    226
14:00    220
17:30    167
16:30    145
12:30    145
19:30     79
20:15     78
18:00     75
19:45     60
16:00     33
12:00     30
19:15     19
19:00     15
14:15     10
13:30      5
14:05      5
15:30      4
13:00      4
16:15      2
15:45      1
17:45      1
Name: count, dtype: int64

In [8]:
df.head()

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,2023-08-11,20:00,Burnley,Man City,0,3,A,0,2,A,...,1.35,8.58,5.51,1.37,8.00,5.0,1.25,9.50,5.25,1.33
1,2023-08-12,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,H,...,14.00,1.18,7.86,15.67,1.12,6.5,12.00,1.14,7.50,17.00
2,2023-08-12,15:00,Bournemouth,West Ham,1,1,D,0,0,D,...,2.60,2.70,3.47,2.71,2.62,3.2,2.30,2.63,3.30,2.63
3,2023-08-12,15:00,Brighton,Luton,4,1,H,1,0,H,...,8.50,1.33,5.65,9.61,1.25,4.6,8.50,1.29,5.25,10.00
4,2023-08-12,15:00,Everton,Fulham,0,1,A,0,0,D,...,3.25,2.27,3.45,3.35,2.10,3.2,3.00,2.20,3.30,3.25

In [9]:
df['Time'].fillna('15:00', inplace=True)

In [10]:
# найдем все коэффициенты на победу H, A или ничьей D

df_bet_H = df[[col for col in cols if col[-1] == 'H']]
df_bet_D = df[[col for col in cols if col[-1] == 'D']]
df_bet_A = df[[col for col in cols if col[-1] == 'A']]

In [11]:
df['AvgH'] = df_bet_H.mean(axis=1)
df['AvgD'] = df_bet_D.mean(axis=1)
df['AvgA'] = df_bet_A.mean(axis=1)

In [13]:
df

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,AvgH,AvgD,AvgA
0,2023-08-11,20:00,Burnley,Man City,0,3,A,0,2,A,...,1.37,8.00,5.00,1.25,9.50,5.25,1.33,8.471667,5.335000,1.328333
1,2023-08-12,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,H,...,15.67,1.12,6.50,12.00,1.14,7.50,17.00,1.165000,7.268333,14.861667
2,2023-08-12,15:00,Bournemouth,West Ham,1,1,D,0,0,D,...,2.71,2.62,3.20,2.30,2.63,3.30,2.63,2.666667,3.370000,2.556667
3,2023-08-12,15:00,Brighton,Luton,4,1,H,1,0,H,...,9.61,1.25,4.60,8.50,1.29,5.25,10.00,1.311667,5.291667,9.101667
4,2023-08-12,15:00,Everton,Fulham,0,1,A,0,0,D,...,3.35,2.10,3.20,3.00,2.20,3.30,3.25,2.203333,3.358333,3.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2231,2019-05-12,15:00,Liverpool,Wolves,2,0,H,1,0,H,...,10.54,1.29,5.50,11.00,1.30,5.75,11.50,1.301667,5.695000,10.473333
2232,2019-05-12,15:00,Man United,Cardiff,0,2,A,0,1,A,...,10.21,1.25,6.50,10.00,1.29,6.25,11.00,1.271667,6.321667,10.401667
2233,2019-05-12,15:00,Southampton,Huddersfield,1,1,D,1,0,H,...,7.62,1.40,4.75,8.00,1.40,4.80,8.50,1.420000,4.780000,7.828333
2234,2019-05-12,15:00,Tottenham,Everton,2,2,D,1,0,H,...,3.64,2.10,3.50,3.50,2.10,3.50,3.70,2.108333,3.515000,3.573333
2235,2019-05-12,15:00,Watford,West Ham,1,4,A,0,2,A,...,3.21,2.20,3.70,3.10,2.20,3.75,3.25,2.208333,3.750000,3.151667

In [14]:
# подготовимся к сбору информации о погоде в месте игры
# для этого надо по домашней команде определить город и добавить информацию
# о температуре, влажности, ветре и состоянии погоды

In [15]:
# пришлось вручную вписывать города для команды

df['HomeTeam'].unique()

array(['Burnley', 'Arsenal', 'Bournemouth', 'Brighton', 'Everton',
       'Sheffield United', 'Newcastle', 'Brentford', 'Chelsea',
       'Man United', "Nott'm Forest", 'Fulham', 'Liverpool', 'Wolves',
       'Tottenham', 'Man City', 'Aston Villa', 'West Ham',
       'Crystal Palace', 'Luton', 'Leeds', 'Leicester', 'Southampton',
       'Watford', 'Norwich', 'West Brom', 'Huddersfield', 'Cardiff'],
      dtype=object)

In [16]:
city = {
    'Burnley': 'burnley/EGNM', 
    'Arsenal': 'london/EGLC', 
    'Bournemouth': 'bournemouth/EGHH', 
    'Brighton': 'brighton/EGKK', 
    'Everton': 'liverpool/EGGP',
    'Sheffield United': 'sheffield/EGCN', 
    'Newcastle': 'newcastle-upon-tyne/EGNT', 
    'Brentford': 'brentford/EGLL', 
    'Chelsea': 'london/EGLC',
    'Man United': 'manchester/EGCC', 
    "Nott'm Forest": 'nottingham/EGNX', 
    'Fulham': 'london/EGLC', 
    'Liverpool': 'liverpool/EGGP', 
    'Wolves': 'wolverhampton/EGBB',
    'Tottenham': 'london/EGLC', 
    'Man City': 'manchester/EGCC', 
    'Aston Villa': 'birmingham/EGBB', 
    'West Ham': 'london/EGLC',
    'Crystal Palace': 'london/EGLC', 
    'Luton': 'luton/EGGW', 
    'Leeds': 'leeds/EGNM', 
    'Leicester': 'leicester/EGNX', 
    'Southampton': 'southampton/EGHI',
    'Watford': 'watford/EGLL', 
    'Norwich': 'norwich/EGSH', 
    'West Brom': 'west-bromwich/EGBB', 
    'Huddersfield': 'huddersfield/EGNM', 
    'Cardiff': 'cardiff/EGFF',
    'Stoke': 'stoke-on-trent/EGCC', 
    'Swansea': 'swansea/EGFF', 
    'Hull': 'hull/EGNJ', 
    'Middlesbrough': 'middlesbrough/EGNV', 
    'Sunderland': 'sunderland/EGNT'
}

In [17]:
city_code = {key: value.split('/')[-1] for key, value in city.items()}
city_code

{'Burnley': 'EGNM',
 'Arsenal': 'EGLC',
 'Bournemouth': 'EGHH',
 'Brighton': 'EGKK',
 'Everton': 'EGGP',
 'Sheffield United': 'EGCN',
 'Newcastle': 'EGNT',
 'Brentford': 'EGLL',
 'Chelsea': 'EGLC',
 'Man United': 'EGCC',
 "Nott'm Forest": 'EGNX',
 'Fulham': 'EGLC',
 'Liverpool': 'EGGP',
 'Wolves': 'EGBB',
 'Tottenham': 'EGLC',
 'Man City': 'EGCC',
 'Aston Villa': 'EGBB',
 'West Ham': 'EGLC',
 'Crystal Palace': 'EGLC',
 'Luton': 'EGGW',
 'Leeds': 'EGNM',
 'Leicester': 'EGNX',
 'Southampton': 'EGHI',
 'Watford': 'EGLL',
 'Norwich': 'EGSH',
 'West Brom': 'EGBB',
 'Huddersfield': 'EGNM',
 'Cardiff': 'EGFF',
 'Stoke': 'EGCC',
 'Swansea': 'EGFF',
 'Hull': 'EGNJ',
 'Middlesbrough': 'EGNV',
 'Sunderland': 'EGNT'}

In [18]:
df['Location'] = df['HomeTeam'].map(city_code)
df

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,WHH,WHD,WHA,VCH,VCD,VCA,AvgH,AvgD,AvgA,Location
0,2023-08-11,20:00,Burnley,Man City,0,3,A,0,2,A,...,8.00,5.00,1.25,9.50,5.25,1.33,8.471667,5.335000,1.328333,EGNM
1,2023-08-12,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,H,...,1.12,6.50,12.00,1.14,7.50,17.00,1.165000,7.268333,14.861667,EGLC
2,2023-08-12,15:00,Bournemouth,West Ham,1,1,D,0,0,D,...,2.62,3.20,2.30,2.63,3.30,2.63,2.666667,3.370000,2.556667,EGHH
3,2023-08-12,15:00,Brighton,Luton,4,1,H,1,0,H,...,1.25,4.60,8.50,1.29,5.25,10.00,1.311667,5.291667,9.101667,EGKK
4,2023-08-12,15:00,Everton,Fulham,0,1,A,0,0,D,...,2.10,3.20,3.00,2.20,3.30,3.25,2.203333,3.358333,3.233333,EGGP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2231,2019-05-12,15:00,Liverpool,Wolves,2,0,H,1,0,H,...,1.29,5.50,11.00,1.30,5.75,11.50,1.301667,5.695000,10.473333,EGGP
2232,2019-05-12,15:00,Man United,Cardiff,0,2,A,0,1,A,...,1.25,6.50,10.00,1.29,6.25,11.00,1.271667,6.321667,10.401667,EGCC
2233,2019-05-12,15:00,Southampton,Huddersfield,1,1,D,1,0,H,...,1.40,4.75,8.00,1.40,4.80,8.50,1.420000,4.780000,7.828333,EGHI
2234,2019-05-12,15:00,Tottenham,Everton,2,2,D,1,0,H,...,2.10,3.50,3.50,2.10,3.50,3.70,2.108333,3.515000,3.573333,EGLC
2235,2019-05-12,15:00,Watford,West Ham,1,4,A,0,2,A,...,2.20,3.70,3.10,2.20,3.75,3.25,2.208333,3.750000,3.151667,EGLL

https://www.wunderground.com/history/daily/gb/london/EGLC

https://www.wunderground.com/history/daily/gb/burnley/EGNM

https://www.wunderground.com/history/daily/gb/bournemouth/EGHH

https://www.wunderground.com/history/daily/gb/brighton/EGKK

https://www.wunderground.com/history/daily/gb/liverpool/EGGP

https://www.wunderground.com/history/daily/gb/sheffield/EGCN

https://www.wunderground.com/history/daily/gb/newcastle-upon-tyne/EGNT

https://www.wunderground.com/history/daily/gb/brentford/EGLL

https://www.wunderground.com/history/daily/gb/manchester/EGCC

https://www.wunderground.com/history/daily/gb/nottingham/EGNX

https://www.wunderground.com/history/daily/gb/wolverhampton/EGBB

https://www.wunderground.com/history/daily/gb/birmingham/EGBB

https://www.wunderground.com/history/daily/gb/luton/EGGW

https://www.wunderground.com/history/daily/gb/leeds/EGNM

https://www.wunderground.com/history/daily/gb/leicester/EGNX

https://www.wunderground.com/history/daily/gb/southampton/EGHI

https://www.wunderground.com/history/daily/gb/watford/EGLL

https://www.wunderground.com/history/daily/gb/norwich/EGSH

https://www.wunderground.com/history/daily/gb/west-bromwich/EGBB

https://www.wunderground.com/history/daily/gb/huddersfield/EGNM

https://www.wunderground.com/history/daily/gb/cardiff/EGFF

https://www.wunderground.com/history/daily/gb/stoke-on-trent/EGCC

https://www.wunderground.com/history/daily/gb/swansea/EGFF

https://www.wunderground.com/history/daily/gb/hull/EGNJ

https://www.wunderground.com/history/daily/gb/middlesbrough/EGNV

https://www.wunderground.com/history/daily/gb/sunderland/EGNT

In [19]:
df = df.loc[:, ['Date', 'Time', 'Location', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'AvgH', 'AvgD', 'AvgA']]

In [20]:
df.head()

,Date,Time,Location,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AF,HC,AC,HY,AY,HR,AR,AvgH,AvgD,AvgA
0,2023-08-11,20:00,EGNM,Burnley,Man City,0,3,A,0,2,...,8,6,5,0,0,1,0,8.471667,5.335000,1.328333
1,2023-08-12,12:30,EGLC,Arsenal,Nott'm Forest,2,1,H,2,0,...,12,8,3,2,2,0,0,1.165000,7.268333,14.861667
2,2023-08-12,15:00,EGHH,Bournemouth,West Ham,1,1,D,0,0,...,14,10,4,1,4,0,0,2.666667,3.370000,2.556667
3,2023-08-12,15:00,EGKK,Brighton,Luton,4,1,H,1,0,...,12,6,7,2,2,0,0,1.311667,5.291667,9.101667
4,2023-08-12,15:00,EGGP,Everton,Fulham,0,1,A,0,0,...,6,10,4,0,2,0,0,2.203333,3.358333,3.233333

In [21]:
df = df.sort_values('Date', ascending=False)
df

,Date,Time,Location,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AF,HC,AC,HY,AY,HR,AR,AvgH,AvgD,AvgA
335,2024-04-25,20:00,EGKK,Brighton,Man City,0,4,A,0,3,...,3,4,4,2,0,0,0,6.568000,4.890000,1.426000
334,2024-04-24,20:00,EGCC,Man United,Sheffield United,4,2,H,1,1,...,9,9,4,0,1,0,0,1.304000,6.056000,8.154000
333,2024-04-24,20:00,EGGP,Everton,Liverpool,2,0,H,1,0,...,13,4,13,0,3,0,0,7.048000,4.910000,1.410000
332,2024-04-24,20:00,EGLC,Crystal Palace,Newcastle,2,0,H,0,0,...,15,7,2,3,3,0,0,2.742000,3.620000,2.410000
331,2024-04-24,19:45,EGBB,Wolves,Bournemouth,0,1,A,0,1,...,17,8,12,4,1,0,1,2.698000,3.586000,2.476000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860,2018-08-11,15:00,EGNT,Newcastle,Tottenham,1,2,A,1,2,...,12,3,5,2,2,0,0,3.821667,3.420000,2.053333
1859,2018-08-11,15:00,EGNM,Huddersfield,Chelsea,0,3,A,0,2,...,8,2,5,2,1,0,0,6.276667,3.970000,1.590000
1858,2018-08-11,15:00,EGLC,Fulham,Crystal Palace,0,2,A,0,1,...,11,5,5,1,2,0,0,2.466667,3.360000,2.950000
1857,2018-08-11,15:00,EGHH,Bournemouth,Cardiff,2,0,H,1,0,...,9,7,4,1,1,0,0,1.895000,3.538333,4.388333
1856,2018-08-10,15:00,EGCC,Man United,Leicester,2,1,H,1,0,...,8,2,5,2,1,0,0,1.561667,3.905000,7.083333

In [263]:
df_to_convert = df.loc[:, ['Date', 'Time', 'Location', 'HomeTeam', 'AwayTeam']]
df_to_convert

           Date   Time Location        HomeTeam          AwayTeam
335  2024-04-25  20:00     EGKK        Brighton          Man City
334  2024-04-24  20:00     EGCC      Man United  Sheffield United
333  2024-04-24  20:00     EGGP         Everton         Liverpool
332  2024-04-24  20:00     EGLC  Crystal Palace         Newcastle
331  2024-04-24  19:45     EGBB          Wolves       Bournemouth
...         ...    ...      ...             ...               ...
1860 2018-08-11  15:00     EGNT       Newcastle         Tottenham
1859 2018-08-11  15:00     EGNM    Huddersfield           Chelsea
1858 2018-08-11  15:00     EGLC          Fulham    Crystal Palace
1857 2018-08-11  15:00     EGHH     Bournemouth           Cardiff
1856 2018-08-10  15:00     EGCC      Man United         Leicester

[2236 rows x 5 columns]

In [264]:
df_to_convert.to_csv('date_time_loc_teams.csv')

In [23]:
df.to_csv('main_df.csv')